<!DOCTYPE html>
{% load static %}
<html lang="en">
	<!-- head: contient les metadonnes, le titre sur l'onglet,
	les liens vers des fichiers externe (comme js, css, etc) -->
	<head>
		<!-- CSS de Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block stylesheet %}
        {% endblock %}

		<!-- les metadonnes sont ecrites ici a l'aide de la balises meta
		elles servent principalement pour les moteurs de recherche,
		pour facilites l'adaptation de la page -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- titre present sur l'onglet -->
        {% block title %}
		<title>PONG</title>
        {% endblock %}

	</head>
	<body>
        {% block header %}
            {% include 'tran_app/component/header.html' %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block footer %}
            {% include 'tran_app/component/footer.html' %}
        {% endblock %}
	</body>
    <!-- JavaScript de Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}
</html>
